<div class="our_partners_area bg_gradient_team">
    <div class="book_now_aera ">
        <div class="container">
            <div class="row book_now">
                <div class="col-md-7 booking_text">
                    <h4>{{ site.data.iletisim.ucretsiz-danismanlik-baslik }}</h4>
                    <p>{{ site.data.iletisim.ucretsiz-danismanlik-yazi }}</p>
                </div>
                <div class="col-md-5 p0 book_bottun">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <div class="top-banner wow fadeInRight text-left"
                            style="visibility: visible; animation-name: fadeInRight;">
                            <a id="#services" href="iletisim.html"
                                class="btn btn-primary radius-50  wow fadeInUp  js-scroll-trigger" data-wow-delay="0.5s"
                                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">ÜCRETSİZ
                                DANIŞMANLIK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>