<!--#start Our footer Area -->
<div class="our_footer_area">
    <div class="book_now_aera ">
        <div class="container wow fadeInUp">
            <div class="row book_now">
                <div class="col-md-4">
                    <div class="">
                        <a class=" logo-biss" href="index.html">Avukat Mehmet Çekici</a>
                    </div>
                    <p class="footer-h">It is a long established fact that a <br>reader will be distracted by the <br>
                        readable content.</p>
                    <div class="bigpixi-footer-social">
                        <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                        <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                        <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-md-1 ">
                </div>
                <div class="col-md-3">
                    <h2 class="footer-top">SAYFALAR</h2>
                    <ul class="footer-menu">
                        <li><a href="index.html">ANA SAYFA</a></li>
                        <li><a href="hakkinda.html">HAKKINDA</a></li>
                        <li><a href="hizmet.html">HİZMET</a></li>
                        <li><a href="haber.html">HABER</a></li>
                        <li><a href="iletisim.html">İLETİŞİM</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="location">
                        <h2 class="footer-top">İletişim Bilgileri</h2>
                        <li class="footer-left-h">Fetih Mh. Aslanlıkışla Cd.<br>No: 245/7 Kat: 4<br>Karatay/KONYA</li>

                        <li class="footer-left-h"><span class="c_yellow">E-posta: </span>m_cekici79@hotmail.com
                        </li>
                        <li class="footer-left-h"><span class="c_yellow">Bizi Arayın: </span>+90 533 969 32 18

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#End Our footer Area -->