<!-- jQuery JS -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-1.12.0.min.js"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<!-- Animate JS -->
<script src="{{ site.baseurl }}/assets/vendors/animate/wow.min.js"></script>
<!-- Owlcarousel JS -->
<script src="{{ site.baseurl }}/assets/vendors/owl_carousel/owl.carousel.min.js"></script>
<!-- Theme JS -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/theme.min.js"></script>
<!-- Functions JS -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/functions.js"></script>